{# Empty state partial #}
<div class="empty-cart">
    <h3>{{ empty_title }}</h3>
    <p>{{ empty_message }}</p>
    <a href="{{ empty_link_url }}" class="btn btn-red">{{ empty_link_text }}</a>
</div>
